#search__wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

#search {
  width: 80%;
}

#search__input {
  background-color: #002833;
  border: 1px solid #2e8ccf;
  border-bottom: none;
  box-sizing: border-box;
  color: #839496;
  font-family: 'Source Code Pro';
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

#search__input:focus {
  outline-color: #2e8ccf;
}

#search__results {
  border: 1px solid #2e8ccf;
  border-top: none;
}

.search__result {
  padding: 8px;
}

.search__result:nth-child(odd) {
  background-color: #002833;
}

.search__result:nth-child(even) {
  background-color: rgb(7, 44, 64);
}