//@import "../../node_modules/iterm2-colors/functional/scss/Brogrammer";
//@import "../../node_modules/iterm2-colors/functional/scss/Borland";
@import "../../node_modules/iterm2-colors/functional/scss/Solarized Dark";
//@import "../../node_modules/iterm2-colors/functional/scss/Solarized Light";

body {
  background-color: $background-color;
  color: $foreground-color;
  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 80px;
}

#log {
  line-height: 16px;
  white-space: pre-wrap;
}

.stdout {
  box-shadow: 0 0 10px $foreground-color;
  // box-sizing: border-box;
  margin: 0;
  opacity: .6;
  padding: .5em;
  // width: calc(33% - 10px);

  &:last-child {
    opacity: 1;
  }
}

.entry {
  display: flex;
  position: fixed;
  bottom: 10px;
}

.submit {
  left: -500px;
  position: fixed;
  top: -500px;
  display: none;
}
