//@import "../../node_modules/iterm2-colors/functional/scss/Brogrammer";
//@import "../../node_modules/iterm2-colors/functional/scss/Borland";
@import "../../node_modules/iterm2-colors/functional/scss/Solarized Dark";
//@import "../../node_modules/iterm2-colors/functional/scss/Solarized Light";

body {
  background-color: $background-color;
  color: $foreground-color;
  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 40px;
}

#log {
  line-height: 16px;
  white-space: pre-wrap;
}

.stdout {
  padding: 5px;
}

.stdout + .stdout {
  border-top: 1px solid darkslategray;
  opacity: .6;
}

.stdout:first-child {
  opacity: .8;
}

.stdout:last-child {
  opacity: 1;
}

.entry {
  display: flex;
  position: fixed;
  bottom: 10px;
}

.submit {
  left: -500px;
  position: fixed;
  top: -500px;
  display: none;
}
