doctype html
html
  head
    link(href='style/style.css', rel='stylesheet')

    link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300', rel='stylesheet', type='text/css')

  body
    form#form
      #log
      .prompt
        #prompt.prompt__home ~
        input#input.prompt__input(autofocus='', autocomplete='off')
      input.submit(type='submit', tabindex='-1')

  script(type='text/javascript', src='script/script.js')
